@page
@model IndexModel
@{
    ViewData["Title"] = "SafeVault";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to SafeVault  !</h1>
    <p class="lead">Protect your data with our secure storage</p>
</div>
